{
  "presets": ["@babel/preset-env", "stage-0", "@babel/preset-react"],
  "plugins": [
    [
      "babel-plugin-styled-components",
      { "ssr": true, "displayName": true, "preprocess": true }
    ],
    ["import"],
    ["external-helpers"]
  ]
}
